
#footer{
    border-top: 5px solid #e60000;
    background-color: #000;
    color: #e0e0e0;
    font-size: 1.666rem;
    padding: 30px 0 10px;
    margin-top: 100px;
}
#footer>div{
    max-width: 1200px;
    margin: 0 auto;
}
#footer hr{
    border-color:#e60000;
}
#footer b{
    display: block;
    font-weight: normal;
    width: 25px;
    height: 28px;
    margin-right: 10px;
    float: left;
}
#footer>div>div>div{
    width: 50%;
}
#footer>div>div p{
    margin: 20px 0;
    line-height: 28px;
}
#footer>div>div p:first-child b{
    background: url("../images/bottom-phone.png") no-repeat center;

}
#footer>div>div p:last-child b{
    background: url("../images/bottom_location.png") no-repeat center;

}
#footer>div>p{
    text-align: center;
    margin: 20px auto 10px;
}
.code>div{
    margin-left: 40px;
}
.code>div>div{

    font-size: 1.33rem;
}
.code h5{
    font-size: 1.8rem;
    width: 1.8rem;

}
#bottom-logo{
    display: none;
}




@media screen and  (max-width: 1200px){
    
    
   
    .swiper-slide div button{
        font-size: 2.5rem;
        background-color: #e60000;
        border-radius: 100px;
        border: none;
        color: #fff;
        padding: 10px 25px;
        margin: 30px 0;
    }
    #model1>div,#model2>div,#cooperation>div,#footer>div,#model3>div{
        margin: 0 20px;
    }
    .model-list div h3{
        font-size: 2.2rem;
    }
    .model-list div p{
        font-size: 1.5rem;
        color: #161212;
        text-align: left;
    }

    .cooperationCase h4{
        font-size: 2rem;
        margin: 20px 0;
    }
    .cooperationCase ul li{

        font-size: 1.5rem;
        line-height: 2rem;
        color: #161212;

    }

    #footer{
        font-size: 1.33rem;
    }
    .code>div{
        margin-left: 30px;
    }


}
@media screen and (max-width: 1080px) {
    #cooperation-md>ul>li{
        margin: 0 10px ;
    }
}
@media screen and (max-width: 768px){
    #nav div>ul>li.right ul li:nth-child(2){
        display: none;
    }
    #nav{
        background: #3a3939;
    }
    #nav div>ul>li.right ul li:first-child{
        border: 1px solid #e60000;
        color: #e60000;
        padding: 5px 20px;
        position: relative;
        top: 0;
        margin: 0;
    }
    #search{
        display: block;
        position: relative;
        background-color: #fff;
        width: 100%;
        padding: 0 10px;
    }
    #search input{
        padding-left: 50px;
        background: url("../images/logo-1-small.png")no-repeat 10px center;
        height: 60px;
        border: 1px solid #ddd;
        width: 100%;
        margin: 10px 0;
        border-radius: 5px;
        font-size:2.5rem ;
    }
    #search span{
        display: block;
        width: 44px;
        height: 44px;
        background: url("../images/search-icon.png") no-repeat center;
        position: absolute;
        top: 18px;
        right: 32px;
    }
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;

        border-radius: 100%;

    }
   
    #model1,#model2,#model3{
        background: none;
    }
    .title{
        position: relative;
        text-align: center;
        margin: 10px 0;
    }
    .title h2{
        color: #000;
        font-size: 2.2rem;
        font-weight: normal;
    }
    .title .hr{
        display: block;
        width: 30%;
        border: 3px solid #e60000;
        margin: 10px auto;

    }
    .model-list div{
        width: 100%;
        text-align: center;
        margin: 20px 0;

    }
    #model2 .model-list div{
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .model-list div h3{
        color: #000;
        font-size: 3rem;
        margin: 20px auto;
    }
    .model-list div p{
        font-size: 2rem;
        color: #888;
        text-align: left;
    }
    .model-list div:nth-child(1){
        float: none;
    }
    .model-list div:nth-child(2){
        float: none;
    }
    #model2 .model-list div{
        box-shadow:  none;
        -moz-box-shadow:  none;
        -webkit-box-shadow:  none;
    }

    #cooperationCase-md{
        display: none;
    }
    #cooperationCase-small{
        display: block;
    }






    #cooperation-md{
        display: none;
    }
    #cooperation-small{
        display: block;
    }
    #footer h4{
        display: none;
    }
    .code h5{
        display: none;
    }
    #footer>div{
        margin: 0;
    }
    #footer>div>div>div{
        width: 100%;
    }
    #footer>div>div{
        width: 70%;
        margin: 0 auto;
    }
    .code>div{
        margin-left: 0;
    }
    .code>div:first-child{
        float: left;
    }
    #bottom-logo{
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        position: relative;
    }
    #bottom-logo i{
        display: block;
        transform: skew(-15deg);
        font-size: 2.4rem;
    }
    #bottom-logo span{
        font-size: 1.6rem;
        padding: 2px 10px;
        border: 1px solid #00a0e9;
        color: #00a0e9;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media screen  and (max-width: 500px){
    #search input{
        font-size: 1.5rem;
    }
    #nav div>ul>li.left span{

        font-size: 1.4rem;

        top:15px;
    }
    #nav div>ul>li.right ul li{
        font-size: 1.6rem;
    }
    #nav div>ul>li.right ul li:first-child{
        top: 7px;
    }
 
    .title h2{

        font-size: 1.6rem;

    }
    .model-list div h3 {

        font-size: 1.6rem;

    }
    .model-list div p {
        font-size: 1.5rem;

    }
    a.border-red{
        font-size: 2rem;

    }
    #cooperation-small>div>ul>li{
        margin: 5px 0;
        margin-right: 2%;
    }
    #cooperation-small>ul{
        width: 90px;
    }
    #cooperation-small>ul>li{
        margin: 0 10px ;
    }
    #footer>div>div{
        width: 80%;
        margin: 0 auto;
    }
    #bottom-logo i{

        font-size: 2rem;
    }
    #bottom-logo span{
        font-size: 1.5rem;
        padding: 0 5px;
        border: 1px solid #00a0e9;
        color: #00a0e9;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
@media screen and (max-width: 400px) {
    .title h2{

        font-size: 1.3rem;

    }
    .model-list div h3 {

        font-size: 1.1rem;

    }
    .model-list div p {
        font-size: 1rem;

    }
}
