.main h3 i {
		display: block;
		width: 8%;
		border: 3px solid #e60000;
		margin-top: 5px;
	}
	@media only screen and (max-width: 768px) {
		.main h3 i {
		display: block;
		width: 20%;
		border: 3px solid #e60000;
		margin-top: 5px;
	}
	}
@media only screen and (min-width: 1371px) and (max-width: 1565px) {
	.main h3{
		font-size: 3.4rem;
	}
	.main p{
		font-size: 28px;
	}
}
@media only screen and (min-width: 1275px) and (max-width: 1370px) {
	.main h3{
		font-size: 3.2rem;
	}
	
}
@media only screen and (min-width: 1200px) and (max-width: 1274px) {
	.main h3{
		font-size: 3.0rem;
	}
	.main p{
		font-size: 26px;
	}
}
@media only screen and (min-width: 1121px) and (max-width: 1199px) {
	.main h3{
		font-size: 2.8rem;
	}
	h3 i{
		width: 82px;
	}
	.main p{
		font-size: 24px;
	}
}
@media only screen and (min-width: 1047px) and (max-width: 1120px) {
	.main h3{
		font-size: 2.6rem;
	}
	h3 i{
		width: 76px;
	}
	.main p{
		font-size: 22px;
	}
}
@media only screen and (min-width: 969px) and (max-width: 1046px) {
	.main h3{
		font-size: 2.4rem;
	}
	h3 i{
		width: 70px;
	}
	.main p{
		font-size: 20px;
	}
}
@media only screen and (min-width: 893px) and (max-width: 968px) {
	.main h3{
		font-size: 1.8em;
	}
	h3 i{
		width: 64px;
	}
	.main p{
		font-size: 19px;
	}
}
@media only screen and (min-width: 815px) and (max-width: 892px) {
	.main h3{
		font-size: 1.8rem;
	}
	h3 i{
		width: 58px;
	}
	.main p{
		font-size: 18px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 814px) {
	.main h3{
		font-size: 1.8rem;
	}
	h3 i{
		width: 52px;
	}
	.main p{
		font-size: 17px;
	}
}
@media only screen and (max-width: 1636px) {
	button {
    outline: none;
    float: left;
    margin: 54px 80px;
    border: 0;
    padding: 10px 30px;
   
}
@media only screen and (max-width: 1597px) {
	button {
    outline: none;
    float: left;
    margin: 54px 70px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 2.8rem;
}
@media only screen and (max-width: 1434px) {
	button {
    outline: none;
    float: left;
    margin: 54px 60px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 2.4rem;
}
@media only screen and (max-width: 1261px) {
	button {
    outline: none;
    float: left;
    margin: 54px 50px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 2.2rem;
}
@media only screen and (max-width: 1261px) {
	button {
    outline: none;
    float: left;
    margin: 54px 40px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 2.2rem;
}
@media only screen and (max-width: 1075px) {
	button {
    outline: none;
    float: left;
    margin: 54px 30px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 2.1rem;
}
@media only screen and (max-width: 984px) {
	button {
    outline: none;
    float: left;
    margin: 54px 20px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 2.0rem;
}
@media only screen and (max-width: 892px) {
	button {
    outline: none;
    float: left;
    margin: 54px 10px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.9rem;
}
@media only screen and (max-width: 892px) {
	button {
    outline: none;
    float: left;
    margin: 54px 5px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.8rem;
}
@media only screen and (max-width: 768px) {
	button {
    outline: none;
    float: left;
    margin: 54px 50px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.8rem;
}
@media only screen and (max-width: 720px) {
	button {
    outline: none;
    float: left;
    margin: 54px 40px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.8rem;
}
@media only screen and (max-width: 675px) {
	button {
    outline: none;
    float: left;
    margin: 54px 30px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.7rem;
}
@media only screen and (max-width: 612px) {
	button {
    outline: none;
    float: left;
    margin: 54px 20px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.6rem;
}
@media only screen and (max-width: 548px) {
	button {
    outline: none;
    float: left;
    margin: 54px 10px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.6rem;
}
@media only screen and (max-width: 503px) {
	button {
    outline: none;
    float: left;
    margin: 54px 5px;
    border: 0;
    padding: 10px 23px;
   
   }
   .bg-red{
   	 font-size: 1.5rem;
}
@media only screen and (max-width: 462px) {
	button {
    outline: none;
    float: left;
    margin: 54px 0;
    border: 0;
    padding: 10px 20px;
   
   }
   .bg-red{
   	 font-size: 1.4rem;
}
@media only screen and (max-width: 407px) {
	button {
    outline: none;
    float: left;
    margin: 54px 0;
    border: 0;
    padding: 10px 14px;
   
   }
   .bg-red{
   	 font-size: 1.3rem;
}
@media only screen and (max-width: 375px) {
	button {
    outline: none;
    float: left;
    margin: 54px 0;
    border: 0;
    padding: 10px 10px;
   
   }
   .bg-red{
   	 font-size: 1.2rem;
}
@media only screen and (max-width: 320px) {
	button {
    outline: none;
    float: left;
    margin: 54px 0;
    border: 0;
    padding: 5px 8px;
   
   }
   .bg-red{
   	 font-size: 1.3rem;
}
@media only screen and (max-width: 320px){
.main1 h3 {
    margin-top: -117px;
}
}